p { 
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	color: #777;
}

header {
	margin: auto;
	height: 100px;
	width: 960px;
}

nav {
	margin: auto;
	height: 100px;
	width: 960px;
}	

footer {
	margin: auto;
	clear: both;
	height: 100px;
	width: 960px;
}

body {
	background-color: #777;
}

.content {
    max-width: 960px;
    margin: auto;
}

.box { 
	background-color: #ebebeb;
	color: 000;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.small {
	line-height: 60px;
	width: 490px;
	height: 50px;
	margin: auto;
	color: #777;
}

.three {
	line-height: 100px;
}

#section {
	height: 275px;
	width: 540px;
	float: left;
	display: inline-block;
}

#aside { 
	height: 275px;
	width: 400px;
	float: right;
}

#article {
	line-height: 50px;
	background-color: #777;
	height: 205px;
	width: 510px;
	margin: auto;
}
